---
import Default from "@layouts/Default.astro";
---

<Default
  title="Gear - maymax music"
  description="All the gear I use to make music"
>
  <section>
    <h2
      class="uppercase text-black dark:text-white font-kai font-bold text-2xl mb-4"
    >
      Gear
    </h2>
    <p class="mb-10">All the gear I use to make music.</p>

    <h3 class="text-lg font-semibold text-black dark:text-white mb-2">
      Main Gear
    </h3>
    <ul class="mb-6">
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Scarlett Solo
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Shure SM57 Microphone
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Audio-Technica ATH-M40x Headphones
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Cloudlifter CL-1 Mic Activator
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Fender Mexican 1990s Strat
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Fender Acoustic DG-8S-NAT (my first guitar)
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Jasmine Acoustic-electric JO-36CE-NAT
      </li>
    </ul>

    <h3 class="text-lg font-semibold text-black dark:text-white mb-2">
      Cables/Misc
    </h3>
    <ul class="mb-6">
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        USB-C cable to connect my Scarlett to my computer
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Two XLR Cables (for my microphone and Cloudlifter)
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        1/4 inch instrument cable (for my guitar)
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Capo for my guitars
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Snark tuner for my guitars
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Small tripod mic stand
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Shure A81WS large foam mic windscreen (use a circular piece of plastic
        to help install)
      </li>
    </ul>

    <h3 class="text-lg font-semibold text-black dark:text-white mb-2">
      DAW/Plugins
    </h3>
    <ul>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Logic Pro X (DAW)
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Melodyne 5 Essential
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Slate Digital - Fresh Air
      </li>
      <li
        class="relative pl-7 before:content-[''] before:absolute before:bg-gray-300 before:rounded-full before:w-1.5 before:h-1.5 before:top-[calc(0.875em-0.1875em)] before:left-1"
      >
        Valhalla Vintage Verb
      </li>
    </ul>
  </section>
</Default>
