---
import Default from "@layouts/Default.astro";
import QuoteGrid from "@components/QuoteGrid.astro";
import Quote from "@components/Quote.astro";
---

<Default
  title="Poem/Lyric Snippets - Max DeMaio Music"
  description="Poem/Lyric snippets I enjoy"
>
  <section>
    <h2
      class="uppercase text-black dark:text-white font-kai font-bold text-2xl mb-4"
    >
      Poem/Lyric Snippets
    </h2>
    <p class="mb-10">Compilation of snippets from poems and lyrics I enjoy.</p>

    <QuoteGrid>
      <Quote authorAndSource="Braden Bales - A GOOD GOODBYE" link="https://open.spotify.com/track/1ocFBctDW8m5Xj0Nz9fmC2?si=0d56f9e327d64d59">
        I wasted my youth on a life without truth, I’m<br /> just as fake as my promises<br
        />A slight tinge of blue in mind that’s old news, I<br />used to be such
        an optimist<br />...<br />I picture my stained glass seat as you file
        down<br />And pay dues to my pinewood house<br />I can see that the pain
        won’t leave if I do right now<br />It’s passed around
      </Quote>
      <Quote authorAndSource="Tracy K. Smith - Watershed">
        the rippling shallow water<br />the white ash trees shedding their
        leaves
      </Quote>
      <Quote authorAndSource="Taha Muhammad Ali - Meeting at an Airport">
        my blood rushing<br />like the shadow<br />cast by a cloud of starlings
      </Quote>
      <Quote authorAndSource="Marge Piercy - The birthday of the world">
        On the birthday of the world<br />I begin to contemplate<br />what I
        have done and left<br />undone, but this year<br />not so much
        rebuilding<br />of my perennially damaged<br />psyche, shoring up
        eroding<br />friendships, digging out<br />stumps of old resentments<br
        />that refuse to rot on their own
      </Quote>
      <Quote authorAndSource="Steinza - Visions of You">
        every night I paint the back of my<br />closed up eyelids and see the
        past - I get<br />visions of you that I can’t unsee - and I’m<br />I’m
        all black and blue - but i’ll<br />make believe that I’m -<br />fine ok<br
        />that I’m doing great
      </Quote>
      <Quote authorAndSource="Effy Marella - Bleachers">
        talk all the shit you want <br />call me when you’re drunk and lonely<br
        />I’ll always pick up<br />but I should make it hard to reach me<br
        />talk all the shit you want<br />say what you’re gonna say about me<br
        />I’ll still cheer you on<br />but you won’t see me in the bleachers
      </Quote>
      <Quote authorAndSource="Jim Legxacy - old place">
        We used to feel rest in each other's presence<br />
        But now we wait on karma to strike each other<br />
        And we light another useless flame<br />
        To try, ignore how I and you, would the love company of fools<br />
        But we were the fools, tied in a race<br />
        But if you would<br />
        I'll give you your old place back
      </Quote>
      <Quote authorAndSource="TJ Minor - Narcissist">
        The moment I died is when I seen<br />
        I loved you more than you loved me<br />
        You moved on quick so I guess I need<br />
        To light one up so I can forget you
      </Quote>
      <Quote authorAndSource="Etheridge Knight - The Bones of My Father">
        The skull of my father<br />
        grins at the Mississippi moon<br />
        from the bottom<br />
        of the Tallahatchie
      </Quote>
      <Quote authorAndSource="Timothy Liu - The Lovers">
        I was always afraid<br />
        of the next card<br />

        the psychic would turn<br />
        over for us—<br />
        Forgive me<br />
        for not knowing<br />
        how we were<br />

        every card in the deck.
      </Quote>
      <Quote authorAndSource="Sylvia Plath - Pursuit">
        Now hills hatch menace, spawning shade;<br />
        Midnight cloaks the sultry grove;<br />
        The black marauder, hauled by love<br />
        On fluent haunches, keeps my speed.
      </Quote>
      <Quote authorAndSource="June Jordan - A Song for Soweto">
        At the throat of Soweto<br />
        a devil language falls<br />
        slashing<br />
        claw syllables to shred and leave<br />
        raw<br />
        the tongue of the young<br />
        girl<br />
        learning to sing<br />
        her own name<br />
      </Quote>
    </QuoteGrid>
  </section>
</Default>
