---
import Default from "@layouts/Default.astro";
---

<Default
  title="testing"
  description="Explore the latest beats and music trends."
>
  <section>
    <h2
      class="uppercase text-black dark:text-white font-kai font-bold text-2xl mb-4"
    >
      testing
    </h2>
  </section></Default
>
