<div class="text-center dark:text-red-300 text-red-600 animate-pulse text-xl flex flex-wrap gap-2 justify-center items-center">
  <svg
    class="w-6 h-6"
    viewBox="0 0 1024 1024"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="512" cy="512" r="489.952" fill="currentColor" />
    <rect
      x="281.722"
      y="359.673"
      width="110.239"
      height="538.947"
      rx="55.1196"
      transform="rotate(-45 281.722 359.673)"
      fill="#6B0000"
    />
    <rect
      x="662.816"
      y="281.722"
      width="110.239"
      height="538.947"
      rx="55.1196"
      transform="rotate(45 662.816 281.722)"
      fill="black"
    />
  </svg>
  <p>Sorry, couldn't load tracks from the Spotify API</p>
  <svg
    class="w-6 h-6"
    viewBox="0 0 1024 1024"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="512" cy="512" r="489.952" fill="currentColor" />
    <rect
      x="281.722"
      y="359.673"
      width="110.239"
      height="538.947"
      rx="55.1196"
      transform="rotate(-45 281.722 359.673)"
      fill="#6B0000"
    />
    <rect
      x="662.816"
      y="281.722"
      width="110.239"
      height="538.947"
      rx="55.1196"
      transform="rotate(45 662.816 281.722)"
      fill="black"
    />
  </svg>
</div>