<nav
  class="justify-between items-center gap-4 lg:gap-0 lg:grid lg:grid-cols-4 flex flex-col pointer-events-none w-full fixed top-0 backdrop-blur-sm pt-6 pb-16 lg:pb-22 lg:px-14 px-4 z-50 lg:[mask-image:linear-gradient(to_bottom,red_40%,transparent)] [mask-image:linear-gradient(to_bottom,red_60%,transparent)] bg-gradient-to-b from-neutral-100/50 dark:from-neutral-950/50 to-transparent select-none"
>
  <a
    href="/"
    class="font-kai pointer-events-auto uppercase text-black dark:text-white font-bold text-base lg:text-3xl"
    >maymax</a
  >
  <div
    class="col-span-2 justify-center pointer-events-auto uppercase font-kai hidden lg:flex gap-18"
  >
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/inspo">Inspo</a>
  </div>
  <div class="justify-end pointer-events-auto flex gap-6">
    <a
      href="https://soundcloud.com/maymaxmusic"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Soundcloud"
      class="cursor-pointer transition-color duration-200 ease-in-out hover:text-black dark:hover:text-white text-base grid items-center justify-center"
    >
      <div class="i-mdi-soundcloud"></div>
    </a>
    <a
      href="https://www.tiktok.com/@maymax.music"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="TikTok"
      class="cursor-pointer transition-color duration-200 ease-in-out hover:text-black dark:hover:text-white text-base grid items-center justify-center"
    >
      <div class="i-bxl-tiktok"></div>
    </a>
    <a
      href="https://instagram.com/maymax.music"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
      class="cursor-pointer transition-color duration-200 ease-in-out hover:text-black dark:hover:text-white text-base grid items-center justify-center"
    >
      <div class="i-mdi-instagram"></div>
    </a>
    <a
      href="https://www.youtube.com/@maymaxmusic1"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="YouTube"
      class="cursor-pointer transition-color duration-200 ease-in-out hover:text-black dark:hover:text-white text-base grid items-center justify-center"
    >
      <div class="i-mdi-youtube"></div>
    </a>
    <a
      href="mailto:maymaxmusic1@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Email"
      class="cursor-pointer transition-color duration-200 ease-in-out hover:text-black dark:hover:text-white text-base grid items-center justify-center"
    >
      <div class="i-mdi-email"></div>
    </a>
    <button
      title="Theme"
      id="theme-button"
      aria-label="Theme"
      class="cursor-pointer transition-color duration-200 ease-in-out hover:text-black dark:hover:text-white text-base grid items-center justify-center"
    >
      <div class="i-tabler-sun-filled dark:i-tabler-moon-stars"></div>
    </button>
  </div>
</nav>

<script is:inline>
  // Immediately Invoked Function Expression
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  // Set the theme on the root element
  function applyTheme(theme) {
    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
  }

  applyTheme(theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  const themeButton = document.getElementById("theme-button");

  if (themeButton) {
    themeButton.addEventListener("click", handleToggleClick);
  }

  // Update the theme if the system preference changes and 'system' is selected
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      applyTheme(event.matches ? "dark" : "light");
    });
</script>
