---
export interface Props {
  authorAndSource: string;
  link?: string;
}

const { authorAndSource, link } = Astro.props;
---

<div class="flex flex-col gap-3">
  <blockquote
    class="text-lg pl-4 w-full border-l dark:border-neutral-100 border-neutral-900 flex-col items-center"
  >
    <slot />
  </blockquote>
  <div class="flex flex-col gap-1">
    {
      link && (
        <div class="truncate w-[280px]">
          <a href={link} class="mlink">
            {link}
          </a>
        </div>
      )
    }

    <cite class="font-medium">{authorAndSource}</cite>
  </div>
</div>
