---
const { ranking, songUrl, artist, title } = Astro.props;
---

<div

  class="cursor-pointer group flex flex-row items-baseline border-b border-opacity-30 border-neutral-5 w-full"
>
  <p class="text-sm font-bold transition-opacity ease-in-out duration-400 opacity-40 group-hover:opacity-80">{ranking}</p>
  <div class="flex flex-col pl-3">
    <a
      class="underline decoration-green-300 decoration-2 transition-opacity ease-in-out duration-400 text-black dark:text-white opacity-60 group-hover:opacity-100 truncate w-60 sm:w-96 md:w-full"
      href={songUrl}
      target="_blank"
      rel="noopener noreferrer"
    >
      {title}
    </a>
    <p
      class="transition-opacity ease-in-out duration-400 opacity-40 group-hover:opacity-80 mb-4 truncate w-60 sm:w-96 md:w-full"
      color="neutral.500"
    >
      {artist}
    </p>
  </div>
</div>
