---
const { ranking, songUrl, artist, title } = Astro.props;
---

<div
  class="flex flex-row items-baseline border-b border-neutral-200 dark:border-neutral-800 w-full mb-8"
>
  <p class="text-sm font-bold text-neutral-400 dark:text-neutral-600">{ranking}</p>
  <div class="flex flex-col pl-3">
    <a
      class="font-medium underline decoration-green-300 decoration-2 text-neutral-900 dark:text-neutral-100 truncate w-60 sm:w-96 md:w-full"
      href={songUrl}
      target="_blank"
      rel="noopener noreferrer"
    >
      {title}
    </a>
    <p
      class="text-neutral-500 mb-4 truncate w-60 sm:w-96 md:w-full"
      color="neutral.500"
    >
      {artist}
    </p>
  </div>
</div>
