---
import CommonHeadDefault from "@components/CommonHeadDefault.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import "@styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  noLimitWidth?: boolean;
}

const { title, description, image } = Astro.props;
---

<html lang="en">
  <CommonHeadDefault title={title} description={description} image={image} />
  <body
    class="flex flex-col min-h-screen items-center pt-28 text-lg text-neutral-900 bg-neutral-100 dark:text-gray-200 dark:bg-neutral-950"
  >
    <Navbar />
    <main
      class="flex-1 relative pt-2 flex flex-col gap-10 px-8 lt-xs:px-4 max-w-5xl mx-auto"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
